cef.pak
devtools_resources.pak
locales
*~
*#*
*.1
*.a
*.cbp
*.err
*.gz
*.la
*.lo
*.log
*.o
*.vpp.work*
*.so
*.so.*
*.user*
*_test
*.bak
*.BAK
*.vpp~*
.deps
.libs
.cproject
.csettings/
.project
.settings/
*.depends
config.log
config.status
core*
cmake_install.cmake
log4cxx.properties
moc_*.cxx*
offscreen
BROWSE
CMakeCache.txt
GPATH
GRTAGS
GSYMS
GTAGS
Makefile
prj1
header
libtool
CMakeFiles/
html/
log4cxx/compile
